<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lora&family=Nunito:wght@300&family=Raleway:wght@100&family=Roboto:wght@100;300&display=swap"
     rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {%block content %}
     <div class="section">
        <div class="section-content">
         <h1>What do we offer?</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
            ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis.
            amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
            ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
                ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis.
                amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
                ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis</p>
        </div>
        <div class="section-img">
            <img src="static/images/offer.jpg" alt="">
        </div>
     </div>
     <div class="section">
        <div class="section-img">
            <img src="static/images/pricing.jpg" alt="">
        </div>
        <div class="section-content">
            <h1>Pricing</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
               ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
                ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis.
                amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
                ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis</p>
        </div>  
     </div>
     <div class="section">
        <div class="section-content">
         <h1>Booking appointments</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
            ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis.
            amet consectetur adipisicing elit. Eos quia, quaerat eaque iusto est officiis 
            ea veritatis repellat, laudantium iste quod sapiente error quisquam sint sunt cumque at vel corporis</p>
        </div>
        <div class="section-img">
            <img src="static/images/appointment.jpg" alt="">
        </div>
     </div>
    {% endblock %}
</body>
</html>