
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {%block content %}
    {%load static%}
    {%static "images" as baseUrl%}
    <div class="imagescontainer">
        {%for item in data%}
        <div class="card">
            <img src="{{item.image.url}}" alt="">
            <div class="intro">
                <h4>{{item.name}}</h4>
                <span>{{item.desc}}</span>
            </div>
        </div>
        {%endfor%}
    </div>
    {% endblock %}
</body>
</html>